* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'poppins', sans-serif;
}

.sidebar {
    position: relative;
    background-color: rgb(228, 228, 250);
    padding: 50px;
    text-align: center;
}

.fixed-left {
    position: fixed;
    top: 0;
    bottom: 0;
}

.pro-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #000;
}

.op-6 {
    opacity: 0.6;
}

/* Home */
.bg-img {
    background-image: url('images/img-2.jpeg');
    background-position: center;
    background-size: cover;
    padding: 300px 50px;
}

.bg-img h1 {
    font-weight: 800;
    font-size: 50px;
}

.btn-style {
    border: 1px solid #000;
    text-transform: uppercase;
    opacity: 0.8;
    padding: 8px 20px;
    font-size: 14px;
}

.op-7 {
    opacity: .7;
}

.bg-1 {
    background-color: rgb(254, 182, 11);
    padding: 30px 30px;
}

.card {
    border: none;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, .15);
}

.icon-style-1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(3, 116, 236);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-align: center;
    margin-left: 40%;
}

.icon-style-2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(214, 3, 63);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-align: center;
    margin-left: 40%;
}

.icon-style-3 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(239, 180, 5);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-align: center;
    margin-left: 40%;
}
.icon-style-4 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(3, 116, 236);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
}

.icon-style-5 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(214, 3, 63);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
}

.icon-style-6 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(239, 180, 5);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
}

.progress {
    height: 10px;
}

.progress-bar {
    font-size: smaller;
    color: #000;
}
.bg-purple{
    background-color: rgb(171, 3, 171);
}
.accordion-item {
    border: none;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, .15);
    margin-bottom: 20px;
}
.accordion-button{
    background-color: rgb(184, 183, 183);
}
ul li{
    list-style: none;
}
.navbar-1{
    display: none;
}

@media screen and (max-width: 600px) {
    .sidebar-1{
        display: none;
    }
    .navbar-1{
        display: block;
    }
}